
@font-face{
font-family:"Gilroy";
src: url("Gilroy-Bold.ttf") format("ttf");
font-weight:bold;
font-style:normal;
font-display:swap;
}
@font-face{
font-family:"Gilroy";
src: url("Gilroy-Medium.ttf") format("ttf");
font-weight:normal;
font-style:normal;
font-display:swap;
}
body{
text-align: center;
font-family:Gilroy, Arial, sans-serif;
font-weight:normal;
}
div{
padding:25px;
//background-color:#dddddd;
}
h1{
//font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 22px;
color: #070707;
}

ul {
font-family:Gilroy, Arial, sans-serif;
font-weight:bold;
margin: 0px; /* Обнуляем значение отступов */
padding: 0px; /* Значение полей */
list-style-type: block;
}
ul.head{
padding-top:10px;
padding-bottom:10px;
}
ul.head li {
display: inline-block;
width:18%;
}
ul.head li a{
  display: block;
  padding: 3px 0;
color: #aaa;
  text-align: center;
  text-decoration: none;
}
ul.head li a#home{
color: black;
}
ul.head li a:hover{
 background: #aaa;
}
ul.progs li {
display: inline-block;/* Отображать как строчный элемент */
width:18%;
}
ul.Main{
display: table; 
  width: 100%;
  padding-top:10px;
padding-bottom:10px;
}
ul.Main li {
display: table-cell;/* Отображать как строчный элемент */
width:33%;
}
ul.Main li div{
  display: block;
  padding: 3px 0;
  color: #000;
  text-align: center;
  text-decoration: none;
}
/*ul.Main li a:hover{
background: #aaa;
}  не имеет смысла*/
ul.Main li div#name{
font-size:32px;
font-weight:bold;
text-align:left;
padding-left:25%;
}
ul.Main li div#lang{
font-size:16px;
font-weight:normal;
text-align:center;
}
#WhiteBox{
padding:80px;
}
ul.Main li div#lang{
font-size:16px;
font-weight:normal;
text-align:center;
}
img.progs{
allign:top;
 width: 75px; /* Ширина области */
    height:75px; /* Высота области */
}
.name_projects{
padding-bottom:50px;
}
#contacts{
font-size:28px;
}
#send_message{
background: black;
color: #ffffff;
border-radius:20px;
padding-left: 25px;
padding-right: 25px;
padding-top: 10px;
padding-bottom: 10px;
}
ul.messages li {
padding: 60px  0px;
display: inline-block;/* Отображать как строчный элемент */
width:20%;
}
ul.messages li a {
display: block;
  padding: 3px 0;
color: #aaa;
  text-align: center;
  text-decoration: none;
}
img.logo{
allign:top;
 width: 30px; /* Ширина области */
    height:30px; /* Высота области */
}
